footer.footer
    .container
        .footer__logo
            a(href="/")
                +icon('logo')
        .footer__block
            nav.footer__navs
                a(href="#") HOME
                a(href="#") COMPANY
                a(href="#") BLOG
                a(href="#") CONTACT US
                a(href="#") SITEMAP
            .footer__icon
                +icon('facebook')
                +icon('twitter')
                +icon('in')
            p.footer__text © musik.com, 2021