extends ../layout/default

block content
    include ../components/banner
    include ../components/explore
    include ../components/about
    include ../components/singers
    include ../components/event
    include ../components/choose
    include ../components/sponsors
    include ../components/testimonials
    include ../components/see
    include ../components/contact-form
