.about{
  position: relative;
  &__wrapper{
    display: flex;
    align-items: center;
  }

  &__images{
    min-width: 530px;
  }

  &__one{
    position: absolute;
    opacity: 0.5;
  }

  &__two{
    padding-top:70px;
    padding-left:70px;
    position: relative;
  }

  &__items{
    max-width: 570px;
    margin-left: 70px;
  }

  &__title{
    margin-bottom: 32px;
  }

  &__text{
    margin-bottom: 80px;
  }
}
.about-decorations {
  &__image {
    position: absolute;
    z-index: 0;

    &:nth-child(1) {
      bottom: -38px;
      left: calc(var(--cp) - 100px - 181px);
    }
  }
}