.icon {
  display: inline-block;

  &--logo {
    width: 125px;
    height: 30px;
    color: #fff;
  }

  &--video {
    width: 46px;
    height: 46px;
    color: #fff;
  }

  &--pop {
    width: 40px;
    height: 40px;
    color: #DB841D;
  }

  &--folk {
    width: 40px;
    height: 40px;
    color: #FC5252;
  }

  &--instrumental {
    width: 40px;
    height: 40px;
    color: #381DDB;
  }

  &--rock {
    width: 40px;
    height: 40px;
    color: #C00096;
  }

  &--jazz {
    width: 40px;
    height: 40px;
    color: #84C4FF;
  }
  &--more{
    width: 24px;
    height: 24px;
  }

  &--preview{
    width: 20px;
    height: 20px;
  }
  &--live{
    width: 22px;
    height: 16px;
  }
  &--upcoming{
    width: 20px;
    height: 20px;
  }
  &--open{
    width: 22px;
    height: 17px;
  }
  &--closed{
    width: 22px;
    height: 17px;
  }
  &--like{
    width: 20px;
    height: 18px;
  }
  &--comments{
    width: 20px;
    height: 19px;
  }
  &--tel{
    width: 18px;
    height: 18px
    }
  &--email{
    width: 20px;
    height: 18px;
  }
  &--location{
    width: 18px;
    height: 21px
  }
  &--facebook{
    width: 13px;
    height: 25px
  }
  &--twitter{
    width: 25px;
    height: 20px
  }
  &--in{
    width: 22px;
    height: 22px
  }
}