.testimonials {
  text-align: center;
}

.testimonials-slide {
  position: relative;
  opacity: 0.45;
  max-width: 770px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10px;
  transition: top .3s, opacity .3s;

  &__wrapper {
    background: rgba(#222222, 0.03);
    padding: 20px 30px 0 30px;
  }

  &.swiper-slide-active {
    opacity: 1;
    top: 0
  }

  &__content {
    position: relative;
    margin-bottom: 50px + 30px;
  }

  &__text {
    padding: 0 30px;
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 30px;

    &:last-child {
      justify-content: flex-end;
    }
  }
}

.testimonials-author {
  margin-top: -50px;
  text-align: center;

  &__img {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  &__name{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #222222;
    margin-top: 20px;
  }
  &__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #381DDB;
    margin-top: 5px;
  }
}