.section.about
    .about-decorations
        img(src=require('@images/decorations/about/1.svg')).about-decorations__image
    .content
        .container
            .about__wrapper
                .about__images
                    img.about__one(src=require('@images/about.png'))
                    img.about__two(src=require('@images/abt.png'))
                .about__items
                    h2.about__title About Musik
                    p.about__text Fusce justo mi, vehicula id arcu et, dapibus tristique lectus. Vivamus a elit sodales, tincidunt nunc non, maximus lacus. Fusce a augue sed dolor auctor iaculis vitae id mauris. Integer ut lectus non neque suscipit luctus. Mauris et erat id ipsum condimentum cursus. Sed tempus enim non massa mattis iaculis. In quis massa risus
                    a(href="#").btn.btn--more Learn More
                        +icon("more")