.section.chooses
    .container
        h2.chooses__title Choose a Tier that’s right for you
        .chooses__wrapper
            .choose.choose--basic
                h3.choose__title Basic
                p.choose__price $100
                p.choose__text 1 Seat Available
                p.choose__text.choose__text--disable Access to Wifi Router
                p.choose__text.choose__text--disable Free Food & Coffee
                a.choose__btn.btn.btn--tickets Get Tickets
            .choose.choose--standard
                h3.choose__title Standard
                p.choose__price $150
                p.choose__text 1 Seat Available
                p.choose__text Access to Wifi Router
                p.choose__text.choose__text--disable Free Food & Coffee
                a.choose__btn.btn.btn--tickets Get Tickets
            .choose.choose--premium
                h3.choose__title Premium
                p.choose__price $200
                p.choose__text 1 Seat Available
                p.choose__text Access to Wifi Router
                p.choose__text Free Food & Coffee
                a.choose__btn.btn.btn--tickets Get Tickets