.section.explore
    .container
        h2.explore__title
            span.color-blue Explore
            |  By Category
    .swiper.explore__swiper
        .swiper-wrapper
            .swiper-slide.instrument
                .instrument__inner
                    +icon('pop')
                    h3.instrument__title Pop
                    p.instrument__text Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
            .swiper-slide.instrument
                .instrument__inner
                    +icon('folk')
                    h3.instrument__title Folk
                    p.instrument__text Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
            .swiper-slide.instrument
                .instrument__inner
                    +icon('instrumental')
                    h3.instrument__title Instrumental
                    p.instrument__text Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
            .swiper-slide.instrument
                .instrument__inner
                    +icon('rock')
                    h3.instrument__title Rock
                    p.instrument__text Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
            .swiper-slide.instrument
                .instrument__inner
                    +icon('jazz')
                    h3.instrument__title Jazz
                    p.instrument__text Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae